 @import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
      @import url(https://fonts.googleapis.com/css?family=Open+Sans);
        .popup-box {
           background-color: #000000;
            border: 1px solid #FFF;
            bottom: 0;
            display: none;
            height: 415px;
            position: fixed;
            right: 70px;
            width: 300px;
            font-family: 'Open Sans', sans-serif;
        }
        .popup-box-on {
            display: block !important;
            z-index: 1530;
        }
        .popup-box .popup-head {
            background-color: #000;
            clear: both;
            color: #FFF;
            display: inline-table;
            font-size: 21px;
            padding: 7px 10px;
            width: 100%;
             font-family: Oswald;
        }
        .bg_none i {
            border: 1px solid #3d37d9;
            border-radius: 25px;
            color: #ff6701;
            font-size: 17px;
            height: 33px;
            line-height: 30px;
            width: 33px;
        }
        .bg_none:hover i {
            border: 1px solid #000;
            border-radius: 25px;
            color: #000;
            font-size: 17px;
            height: 33px;
            line-height: 30px;
            width: 33px;
        }
        .bg_none {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
        }
        .popup-box .popup-head .popup-head-right {
            margin: 11px 7px 0;
        }
        .popup-box .popup-messages {
        }
        .popup-head-left img {
            border: 1px solid #FFF;
            border-radius: 4px;
            width: 44px;
        }

        .popup-messages-footer > textarea {
            border-bottom: 1px solid #000 !important;
            height: 34px !important;
            margin: 7px;
            padding: 5px !important;
             border: medium none;
            width: 95% !important;
        }
        .popup-messages-footer {
            background: #fff none repeat scroll 0 0;
            bottom: 0;
            position: absolute;
            width: 100%;
        }
        .popup-messages-footer .btn-footer {
        }
        .simple_round {
            background: #d1d1d1 none repeat scroll 0 0;
            border-radius: 50%;
            color: #4b4b4b !important;
            height: 21px;
            padding: 0 0 0 1px;
            width: 21px;
        }

        #chat-box {
        
            overflow: auto;
            height: 300px;
            overflow-x: hidden;
            padding: 0.4em;
        }


        .popup-messages .chat-box-single-line {
            border-bottom: 1px solid #000;
            margin: 7px 0 20px;
            position: relative;
            text-align: center;
        }

        .popup-head-right .btn-group {
            display: inline-flex;
          margin: 0 8px 0 0;
          vertical-align: top !important;
        }
        .chat-header-button {
            background: transparent none repeat scroll 0 0;
            border: 1px solid #FFF;
            border-radius: 50%;
            font-size: 14px;
            height: 30px;
            width: 30px;
        }
        
        .direct-chat-reply-name {
            color: #fff;
            font-size: 15px;
            margin: 0 0 0 10px;
            opacity: 0.9;
        }

        .direct-chat-img-reply-small
        {
            border: 1px solid #fff;
            border-radius: 50%;
            float: left;
            height: 20px;
            margin: 0 8px;
            width: 20px;
          background:#FFF;
        }

        .popup-messages .direct-chat-msg {
            margin-bottom: 10px;
            position: relative;
        }

        .popup-messages .doted-border::after {
          background: transparent none repeat scroll 0 0 !important;
            border-right: 2px dotted #fff !important;
          bottom: 0;
            content: "";
            left: 17px;
            margin: 0;
            position: absolute;
            top: 0;
            width: 2px;
           display: inline;
            z-index: -2;
        }

        .popup-messages .direct-chat-msg::after {
            background: #fff none repeat scroll 0 0;
            border-right: medium none;
            bottom: 0;
            content: "";
            left: 17px;
            margin: 0;
            position: absolute;
            top: 0;
            width: 2px;
            display: inline;
            z-index: -2;
        }
        .direct-chat-text::after, .direct-chat-text::before {
           
            border-color: transparent #dfece7 transparent transparent;
            
        }
        .direct-chat-text::after, .direct-chat-text::before {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: transparent #d2d6de transparent transparent;
            border-image: none;
            border-style: solid;
            border-width: medium;
            content: " ";
            height: 0;
            pointer-events: none;
            position: absolute;
            right: 100%;
            top: 15px;
            width: 0;
        }
        .direct-chat-text::after {
            border-width: 5px;
            margin-top: -5px;
        }
        .popup-messages .direct-chat-text {
            background: #dfece7 none repeat scroll 0 0;
            border: 1px solid #dfece7;
            border-radius: 2px;
            color: #1f2121;
        }
        .direct-chat-text {
            background: #ffffff none repeat scroll 0 0;
            border: 1px solid #d2d6de;
            border-radius: 5px;
            color: #aabb2e;
            margin: 5px 0 0 50px;
            padding: 5px 10px;
            position: relative;
        }