@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
.invalid-blink {
	background-color: #000;
}

.activation-div {
	position: absolute;
	z-index: 10;
	margin-top: 10%;
	margin-left: 33%;
}

.rule-li {
	padding: 0.6em;
	color: #2ef3f4;
}

.c-title {
	color: gold;
}

.news-title {
	color: #edc864;
}

.c-table tr td {
	padding: 0.6em;
}

.c-table {
	width: 100%;
}

.c-active {
	padding: 0.4em;
	color: #FFF;
	background-color: rgba(000, 000, 000, 0.85);
}

.c-btn {
	padding: 0.4em;
	border: 1px solid #FFF;
	border-radius: 4px;
	width: 100%;
	color: #c59a6d;
	background-color: rgba(000, 000, 000, 0.85);
}

.c-percent {
	padding: 0.4em;
	border: 1px solid #FFF;
	border-radius: 2px;
	width: 100%;
	margin-right: 5%;
	color: #fff;
	background-color: rgba(000, 000, 000, 0.85);
}

.order-bg {
	background-size: cover;
	background-image: url(../img/bg3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;
	color: #ffffff
}

.order-place {
	background-size: cover;
	background-image: url(../img/bg1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;
	color: #ffffff
}

.recent-trade {
	height: 550px;
	overflow-y: scroll;
}

.load-buy-spread {
	height: 350px;
}

.load-ask-spread {
	height: 350px;
}

.loading {
	display: none;
}

.s-loading {
	display: none;
}

.b-loading-stp {
	display: none;
}

.s-loading-stp {
	display: none;
}

.order-section {
	background-color: rgba(000, 000, 000, 0.65);
	padding: 0.5em;
	height: 800px;
}

.tab-content {
	color: white;
	/*background-color: rgba(110,120,100,0.95);*/
	background-color: rgba(000, 000, 000, 0.85);
	box-shadow: 0px 0px 1px 1px #454;
}

.tab-pane {
	padding: 10px;
}

#exTab2 h3 {
	color: white;
	background-color: rgba(110, 120, 100, 0.95);
	padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills>li>a {
	border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills>li>a {
	border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
	color: white;
	background-color: rgba(110, 120, 100, 0.95);
	padding: 5px 15px;
}

.index-news {
	color: #FFF;
	border-radius: 0px;
	padding: 0.8em;
	position: relative;
	top: 20;
	z-index: 1300;
}

/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.index-news {
	padding: 0.8em;
}

.index-pairs {
	color: gold;
}

.spinner2 {
	margin: auto;
	width: auto;
	height: 18px;
	text-align: center;
	font-size: 10px;
}

.spinner2>div {
	background-color: #FFF;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner2 .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner2 .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner2 .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner2 .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.spinner {
	margin: auto;
	width: auto;
	height: 18px;
	text-align: center;
	font-size: 10px;
}

.spinner>div {
	background-color: #FFF;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.ml1 {
	font-weight: 300;
	font-size: 2.5em;
}

.ml1 .letter {
	display: inline-block;
	line-height: 0.5em;
}

.ml1 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
}

.ml1 .line {
	opacity: 0;
	position: absolute;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #999;
	transform-origin: 0 0;
}

.ml1 .line1 {
	top: 0;
}

.ml1 .line2 {
	bottom: 0;
}

.ml5 {
	position: relative;
	font-size: 26px;
	color: #000;
}

.ml5 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
	line-height: 1em;
}

.ml5 .line {
	margin: auto;
	height: 3px;
	width: 100%;
	background-color: #999;
	transform-origin: 0.5 0;
}

.ml5 .ampersand {
	font-family: "Consolas";
	font-style: italic;
	margin-right: -0.1em;
	margin-left: -0.1em;
}

.ml5 .letters {
	display: inline-block;
	opacity: 0;
}

.ml14 {
	font-weight: 100;
	font-size: 1.8em;
}

.ml14 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
}

.ml14 .line {
	opacity: 0;
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #000;
	transform-origin: 100% 100%;
	bottom: 0;
}

.ml14 .letter {
	display: inline-block;
	line-height: 0.5em;
}

@media (min-width: 1200px) {
	.container {
		width: 960px;
	}
}

h1 {
	font-weight: 700;
	font-size: 46px;
}

h2 {
	text-transform: uppercase;
	font-size: 20px;
}

h3 {
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	line-height: 26px;
}

h4 {
	text-transform: uppercase;
	font-size: 16px;
	word-spacing: 2px;
}

h5 {
	text-transform: uppercase;
	font-size: 12px;
	word-spacing: 2px;
}

h6 {
	text-transform: uppercase;
	font-size: 10px;
	word-spacing: 2px;
	letter-spacing: 2px;
}

p {
	font-weight: 400;
}

hr {
	width: 100%;
	border-color: #c59a6d;
}

a {
	color: #222222
}

a:hover,
a:focus {
	text-decoration: none;
}

#bg-video {
	margin: 0px;
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#home {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;
	padding-top: 60px;
	color: #ffffff;
}

.menu {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;
	padding-top: 60px;
	color: #ffffff;
}

#home a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #c59a6d;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	margin-top: 100px;
	color: #ffffff;
	cursor: pointer;
}

#ntrade-home {
	background-size: cover;
	background-image: url(../img/bg3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;
	padding-top: 10px;
	color: #ffffff;
}

#ntrade-welcome {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;
	padding-top: 60px;
	color: #ffffff;
}

#ntrade-overlay {
	background-color: rgba(000, 000, 000, 0.40);
}

#ntrade-home a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #c59a6d;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	margin-top: 100px;
	color: #ffffff;
	cursor: pointer;
}

.content {
	padding-top: 16%;
}

.header-text.btn {
	border: 1px solid #ffffff;
	border-radius: 0;
	padding: 10px 30px;
	height: 100px;
}

.header-text.btn:hover {
	color: inherit;
}

.header-text.btn:focus,
.header-text.btn:active:focus,
.header-text.btn.active:focus,
.header-text.btn.focus,
.header-text.btn:active.focus,
.header-text.btn.active.focus {
	outline: thin dotted transparent;
	outline: none;
	outline-offset: -2px;
}

.typed-cursor {
	opacity: 1;
	padding: 10px 2px;
	background: #ffffff;
	margin: 10px;
	-webkit-animation: blink 0.5s linear infinite;
	-moz-animation: blink 0.5s linear infinite;
	animation: blink 0.5s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

span.typed-cursor {
	top: -5px;
	position: relative;
}

/*.header-text{
	margin-top: 20px;	
	position: absolute;
	border: 1px solid #ffffff;
	left: 25%;
	right: 25%;
}
.header-text h1{
	padding: 20px;
	position: relative;
	margin: 0 auto;
}*/

nav#menu span.fa.fa-bars {
	font-size: 30px;
	position: fixed;
	left: 120px;
	color: #c0c0c0;
	cursor: pointer;
	z-index: 1;
}

.navmenu,
.navbar-offcanvas {
	width: 270px;
	z-index: 10;
}

.navmenu-default,
.navbar-default .navbar-offcanvas {
	background-color: rgba(000, 000, 000, 0.50);
	border-color: #0c77d0;
	border: 0;
	margin-top: -120px;
}

.navmenu-default .navmenu-nav>li>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover,
.navmenu-default .navmenu-nav>li>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus {
	background-color: rgba(000, 000, 000, 0.70);
	color: #FFF;
}

.nav>li {
	position: relative;
	display: block;
	text-align: center;
}

.navmenu-default .navmenu-nav>li>a,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 30px;
}

nav#menu span.fa.fa-bars:hover {
	color: #C59A6D;
}

.navmenu-default .navmenu-nav>.active>a,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a,
.navmenu-default .navmenu-nav>.active>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover,
.navmenu-default .navmenu-nav>.active>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus {
	color: #C59A6D;
	background-color: transparent;
}

.close:hover {
	background: #c59a6d;
	color: #ffffff;
	opacity: 1;
}

.close {
	background: #fff;
	padding: 10px 12px;
	opacity: 1;
	transition: all 0.3s;
}

.add-margin {
	margin-top: 200px;
}

#meet-us,
#services,
#works,
#about-us {
	padding: 60px 0;
}

a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #c59a6d;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	cursor: pointer;
	color: #c59a6d;
	margin-top: 30px;
}

#overview-video {
	background: url(../img/bg2.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-align: center;
}

#overview-video .overlay {
	background: rgba(34, 34, 34, 0.85);
	height: auto;
	min-height: 200px;
	padding: 12% 0;
}

#overview-video a span.fa.fa-play {
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin: auto 0;
}

.service {
	border: 1px solid #222;
	margin-top: 20px;
	margin-bottom: 0px;
	transition: all 0.3s;
	position: relative;
	padding: 60px 25px;
}

.service:hover>h4,
.service:hover>span.fa {
	color: #c59a6d;
}

.service:hover {
	border-color: #c59a6d;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	padding-top: 80px;
	padding-bottom: 80px;
}

.service p {
	font-size: 14px;
	padding-top: 20px;
	font-family: 'Lato', sans-serif;
}

.space {
	padding-top: 40px;
}

#cta {
	background: #282f35;
	padding: 4% 0;
}

a.btn.go-to-btn {
	text-transform: uppercase;
	border: 1px solid #c59a6d;
	word-spacing: 2px;
	padding: 7px 30px;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}

a.btn.go-to-btn:hover {
	background: #c59a6d;
	color: #282f35;
}

.nopadding {
	padding: 0;
	margin: 0;
}

.portfolio-item .hover-bg {
	height: 280px;
	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.hover-bg .hover-text>h5 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}

.hover-bg:hover .hover-text>h5 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.hover-bg .hover-text>.hline {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}

.hover-bg:hover .hover-text>.hline {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.hover-bg:hover .hover-text {
	opacity: 1;
}

.hline {
	height: 5px;
	width: 30px;
	border-top: 2px solid #f1f1f1;
	margin: 0 auto
}

.hover-text p.lead {
	color: #c59a6d;
}

a.btn.read-more-btn {
	text-transform: uppercase;
	background: #c59a6d;
	color: #282f35;
	word-spacing: 2px;
	padding: 7px 30px;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}

a.btn.read-more-btn:hover {
	background: #222222;
	color: #ffffff;
}

a.btn.send-btn {
	text-transform: uppercase;
	background: #c59a6d;
	color: #282f35;
	padding: 15px 35px;
	border-radius: 0;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}

a.btn.send-btn:hover {
	background: transparent;
	border: 1px solid #c59a6d;
	color: #ffffff;
}

#clients {
	background: url(../img/bg1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

#clients .overlay {
	background: rgba(34, 34, 34, 0.85);
	height: auto;
	min-height: 200px;
	padding: 8% 0;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	moz-padding: 0;
	webkit-padding: 0;
}

ul.clients li {
	display: inline-block;
	padding: 20px 40px;
	vertical-align: middle;
}

.team {
	border: 1px solid #c3c3c3;
	padding: 70px 20px;
	text-align: center;
	opacity: 0.7;
	transition: all 0.8s;
	max-height: 340px;
	margin-bottom: 30px;
}

.team:hover.hire,
.team.hire {
	height: 340px;
	border-color: #c59a6d;
	color: #c59a6d;
	opacity: 1;
}

.team.hire>a {
	color: #c59a6d;
}

.team hr {
	border-width: 2px;
	border-color: #dcc2a7;
}

.team:hover {
	opacity: 1;
	border: 1px solid #222;
}

.team img {
	width: 80px;
	margin: 0 auto;
}

#forum {
	background: url(../img/bg1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-align: center;
	color: #CCC;
}

#forum a {
	color: #FFF;
}

#forum a:hover {
	color: #938747;
}

#testimonials {
	background: url(../img/bg4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-align: center;
}

#testimonials .overlay {
	background: rgba(34, 34, 34, 0.85);
	height: auto;
	min-height: 200px;
	padding: 5% 0;
	color: #ffffff;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 2px 5px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #C59A6D;
}

#contact {
	background: #282f35;
	padding: 100px 0;
	color: #ffffff;
}

ul.social li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 30px;
}

ul.social li a {
	color: #ffffff;
	font-size: 16px;
}

address strong {
	text-transform: uppercase;
	font-style: normal;
	font-family: 'Montserrat', sans-serif;
}

address:before {
	content: "\f041";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #c59a6d;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: -30px;
}

address {
	font-style: italic;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

#contact input.form-control,
#contact textarea.form-control {
	margin-bottom: 30px;
}

#contact .form-control {
	display: block;
	width: 100%;
	height: 40px;
	padding: 7px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #1e2429;
	background-image: none;
	border: 0;
	border-top: 2px solid transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	transition: all 0.5s;
}

#contact .form-control:focus {
	border-color: #C59A6D;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	font-style: italic;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	font-style: italic;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	font-style: italic;
}

nav#footer {
	background: #282f35;
	padding: 40px 0;
	color: #ffffff;
	border-bottom: 5px solid #c59a6d;
}

#footer span.fa {
	color: #c59a6d;
	font-size: 26px;
	margin-left: 10px;
}

#footer a {
	color: #ffffff;
}

#footer a:hover {
	color: #c59a6d;
}

.price-tickers {
	/*border-top: 1px solid #FFF;*/
}

h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header {
	background-color: rgba(0, 0, 0, 0.3);
}

.tbl-content {
	height: 500px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.tbl-header table thead th {
	padding: 15px;
}

.tbl-header table tbody td {
	padding: 5px;
}

section {
	margin: 50px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
