.dino-input {
    padding: 0.3em;
    background-color: rgba(000,000,000,0.09);
    color: #FFF;
    border: 1px solid #999;
    border-radius: 3px;
    width:80%;
}

.index-news {
    padding: 0.5em;
}

.dino-link {
    color: #ECB;
}

.ntrade-nav {
    background-color: #000;
}

.ntrade-nav ul li a {
    color:#gold;
}

.ntrade-nav ul li a:hover {
    color:#FFF;
    background-color: transparent;
}

.ntrade-high {
    color:green;
}

.ntrade-medium {
    color:#ECB;
}

.ntrade-low {
    color:#F00;
}

.ntrade-feeds {
    padding: 0.7em;
}

.dino-transaction {

}

.stock {
    font-weight: bolder;
}

.stock-total {
    font-weight: bolder;
    font-size: 15px;
}

.dino-select-live {
  background-color: transparent;
  border:1px solid #CCE;
  width: 60px;
}

.dino-sell-live {
  background-color: transparent;
  border:1px solid #F009;
  width: 100%;
  padding: 0.6em;
  border-radius: 4px;
  background-color: #F009;
  color: #fff;
}

.dino-buy-live {
  background-color: transparent;
  border:1px solid #251;
  width: 100%;
  padding: 0.6em;
  border-radius: 4px;
  background-color: #251;
  color: #fff;
}

.dino-buy-sell-live {
  background-color: transparent;
  border:1px solid #CCE;
  width: 100px;
  padding: 0.6em;
  border-radius: 4px;
}

.dino-buy-sell-order-btn {
  background-color: transparent;
  border:1px solid #CCE;
  width: 150px;
  padding: 0.6em;
  border-radius: 4px;
}

.dino-pair-name {
  background-color: transparent;
  border:1px solid #CCE;
  width: 120px;
  padding: 0.6em;
  border-radius: 4px;
}

.dino-input-live {
  background-color: transparent;
  border:1px solid #CCE;
  width: 100px;
  padding: 0.6em;
  border-radius: 4px;

}

.dino-table tbody, thead, th, td, tr {
  padding: 5px;
}

/*.dino-table-cover {
  overflow-y: auto;
  height: 350px;
}
*/
.ticker-up {
  color: green;
}

.ticker-middle {
  color: #CCE;
}

.ticker-down {
  color: #F00;
}

#trade_status {
z-index: 10;
color: #FFF;
padding: 0.4em;
border-radius: 4px;
background-color: #000;
}

.user_msg_div {
background-color: #DDD;
color: #888;
padding: 0.4em;
margin-left: 40px;
width: 50%px;
margin-bottom: 10px;
}

.admin_msg_div {
background-color: #CCC;
color: #000;
margin-right: 40px;
padding: 0.4em;
width: 50%px;
margin-bottom: 10px;
}

.ml2 {
font-size: 12px;
}

.ml2 .letter {
line-height: 1em;
}

.news-div {
background-color: rgba(000,000,000,0.90);
position: absolute;
height: 60px;
padding: 0.7em;
width: 240px;
right: 5px;
top: 78px;
height: 1044px;
}

.trade-pad {
background-color: rgba(000,000,000,0.90);
position: absolute;
height: 60px;
padding: 0.7em;
width: 240px;
left: 5px;
top: 78px;
height: 1044px;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#trade_status {
  z-index: 10;
  color: #FFF;
  padding: 0.4em;
  border-radius: 4px;
  background-color: #000;
}

.msg_msg {

}

.inner_msg {
  border: 1px solid #999;
  border-radius: 2px;
  padding: 0.4em;
}

.ml2 {
  font-size: 12px;
}

.ml2 .letter {
  line-height: 1em;
}

.news-div {
  background-color: rgba(000,000,000,0.90);
  position: absolute;
  height: 60px;
  padding: 0.7em;
  width: 240px;
  right: 5px;
  top: 78px;
  height: 1044px;
}

.trade-pad {
  background-color: rgba(000,000,000,0.90);
  position: absolute;
  height: 60px;
  padding: 0.7em;
  width: 240px;
  left: 5px;
  top: 78px;
  height: 1044px;
}
.myColor{
 color:red;   
}

.trade-screen {
  background-color: rgba(000,000,000,0.90);
  margin-top:120px;
  margin-left: 83%;
  padding: 0.8em;box-shadow: 1px 1px 2px 1px #000;
  font-size: 11px;
}

.fixed-sidebar {
  background-color: rgba(000,000,000,0.90);
  margin-top:87px;
  margin-left: 86%;
  padding: 0.8em;box-shadow: 1px 1px 2px 1px #000;
  font-size: 11px;
  height: 700px;
  overflow-y: auto border-color: #000;
}
.fixed-sidebar-2 {
  background-color: rgba(000,000,000,0.90);
  margin-top:87px;
  margin-right: 85%;
  padding: 0.8em;box-shadow: 1px 1px 2px 1px #000;
  font-size: 11px;
  height: 700px;
}

.fixed-sidebar-3 {
  background-color: rgba(000,000,000,0.90);
  margin-top:87px;
  margin-left: 70.20%;
  margin-right: 14.13%;
  padding: 0.8em;box-shadow: 1px 1px 2px 1px #000;
  font-size: 11px;
  height: 700px;
}

.popup-status {
    background-color: #fff;
    color:#000;
    padding: 1em;
    position:absolute;
    box-shadow: 1px 1px 3px 1px #CCC;
    margin-left: 40%;
    margin-top: 130px;
    width: auto;
    z-index: 1530;
    border-radius: 4px;
  }

  .load-stock-balance {
    height: 350px;
    overflow-y: scroll;
  }

  #load-flash-news {
    min-height: 400px;
    overflow-y: auto;
  }

  #flash-rules {
    height: 370px;
    overflow-y: scroll;
  }


  /*
 *  STYLE 3
 */

#load-flash-news::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#load-flash-news::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#load-flash-news::-webkit-scrollbar-thumb
{
  background-color: #000000;
}


#flash-rules::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#flash-rules::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#flash-rules::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

  /*
 *  STYLE 3
 */

.load-stock-balance::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.load-stock-balance::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.load-stock-balance::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

.order-row-buy {
  color: #63ff00;
}

.order-row-sell {
  color: #ff5a00;
  text-decoration: underline;
}

.dino-table-cover {
  height: 350px;
  overflow-y: auto;
}

.dino-table-cover::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.dino-table-cover::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.dino-table-cover::-webkit-scrollbar-thumb
{
  background-color: #000000;
}